<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test parallel="methods" thread-count="1" name="E:/Sumerge/Training/Selenium Training">
        <classes>
            <class name="com.sumerge.tests.CartTest">
                <methods>
                    <include name="cartTest"/>
                </methods>
            </class>
            <class name="com.sumerge.tests.CreateAccountPageTest">
                <methods>
                    <include name="createAccountTest"/>
                </methods>
            </class>
            <!--><class name="com.sumerge.tests.HomePageTest">
                <methods>
                    <include name="homePageTest"/>
                </methods>
            </class>
            <class name="com.sumerge.tests.InvalidSignInTest">
                <methods>
                    <include name="signInTest"/>
                </methods>
            </class>
            <class name="com.sumerge.tests.SignUpTest">
                <methods>
                    <include name="signInPageTest"/>
                </methods>
            </class>
            <class name="com.sumerge.tests.ValidSignInTest">
                <methods>
                    <include name="signInTest"/>
                </methods>
            </class><-->
        </classes>
    </test>
</suite>